<!DOCTYPE html>
<html>
<head>
  <title>Show</title>
</head>
<body>
  <p>Song name: <%= @song.name %></p>
  <p>Artist: <%= @song.artist %></p>
  <p>Genre: <%= @song.genre.name %></p>
  <p>ID: <%= @song.id %></p>
  <div>
  <button type="button">
    <a href="/songs" style="text-decoration:none;">All Songs</a>
  </button>
  </div>
  <div>
    <button type="button">
    <a href="/songs/<%= @song.id %>/edit" style="text-decoration:none;">Edit</a>
  </button>
  </div>
</body>
</html>